<%- include('partials/header') %>

    <main>
        <section>
            <h2>500 - Server Error</h2>
            <p>Sorry, something went wrong on our end. Please try again later or return to the <a href="/">home page</a>.</p>
        </section>
    </main>

<%- include('partials/footer') %>