<%- include('partials/header') %>

    <main>
        <section>
            <h2>Welcome to the Home Page</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non imperdiet diam. Donec sit amet risus condimentum, mattis sapien sit amet, commodo purus. Nam in arcu iaculis, molestie diam et, aliquet nisl. Vestibulum dignissim mattis ipsum et sodales. In mattis, erat ut auctor dictum, turpis leo tincidunt diam, sit amet luctus est ante at massa. Praesent efficitur pulvinar volutpat. Nunc faucibus finibus est in mattis.</p>
        </section>
        <section>
            <h3>Subsection</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non imperdiet diam. Donec sit amet risus condimentum, mattis sapien sit amet, commodo purus. Nam in arcu iaculis, molestie diam et, aliquet nisl. Vestibulum dignissim mattis ipsum et sodales. In mattis, erat ut auctor dictum, turpis leo tincidunt diam, sit amet luctus est ante at massa. Praesent efficitur pulvinar volutpat. Nunc faucibus finibus est in mattis.</p>
        </section>
    </main>

<%- include('partials/footer') %>