@use "../variables" as *;

.details {
    background-color: darken($background-color, 5%);
    border: 1px solid darken($primary-color, 10%);
    border-radius: 8px;
    padding: 16px;
    margin: 16px auto;
    max-width: 600px;

    img {
        border-radius: 4px;
        margin-top: 10px;
        width: 100%;
    }

    h2 {
        font-size: 1.5em;
        color: $text-color;
        margin-bottom: 8px;
    }

    p {
        font-size: 1em;
        color: darken($text-color, 20%);
    }

    a {
        color: $accent-color;
        text-decoration: none;

        &:hover {
            color: darken($accent-color, 15%);
            text-decoration: underline;
        }
    }
}